@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neo-white text-neo-black font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }
}

@layer components {
  .neo-card {
    @apply bg-white border-4 border-neo-black shadow-neo p-4 rounded-none transition-all hover:-translate-y-1 hover:shadow-none;
  }

  .neo-btn {
    @apply bg-neo-green text-black font-bold py-2 px-4 border-4 border-neo-black shadow-neo hover:-translate-y-1 hover:shadow-none active:translate-y-0 transition-all;
  }

  .neo-input {
    @apply border-4 border-neo-black p-2 w-full focus:outline-none focus:ring-4 focus:ring-neo-green shadow-neo-sm;
  }
}