@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neo-bg text-neo-dark font-mono;
  }
}

@layer components {
  .neo-card {
    @apply bg-white border-2 border-neo-border shadow-neo p-4 rounded-none transition-all hover:-translate-y-1 hover:shadow-[7px_7px_0px_0px_rgba(0,0,0,1)];
  }
  .neo-btn {
    @apply bg-neo-main text-black font-bold py-2 px-4 border-2 border-neo-border shadow-neo hover:-translate-y-1 hover:shadow-[7px_7px_0px_0px_rgba(0,0,0,1)] active:translate-y-0 active:shadow-none transition-all;
  }
  .neo-input {
    @apply border-2 border-neo-border p-2 w-full focus:outline-none focus:ring-2 focus:ring-neo-main shadow-[3px_3px_0px_0px_rgba(0,0,0,1)];
  }
}
